<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netdiscover Scan</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <button id="startScan">Hosts</button>
   
    <div class="container">
        
    <pre id="output"></pre>
    <div class="basic">
        <button onclick="window.location.href='/basic'">Basic</button>
        <button onclick="window.location.href='/advanced'">Advanced</button>
    </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>

    <script>
        var socket = io();

        document.getElementById('startScan').addEventListener('click', function() {
            socket.emit('start_scan');
        });

        socket.on('scan_output', function(msg) {
            document.getElementById('output').textContent += msg.data + '\n';
        });
    </script>

</body>
</html>
